{% extends "base.html.twig" %}
{% block body %}
	<div class="right">
		<div class="right__content">
			<div class="right__title">Dashboard</div>
			<p class="right__desc">Insert post</p>
			<div class="right__formWrapper">
				<form action="" method="post" enctype="multipart/form-data" id="formpost">
					<div class="containdiv">
						<div class="div">
                        {{ form_start(postForm) }}
							<div class="right__inputWrapper">
								<label for="title">Title</label>
								{{ form_widget(postForm.title,{
                                        'attr':{
                                        'placeholder': 'Title'
                                                }
                                 }) }}
								{{ form_end(postForm) }}
							</div>
							<div class="right__inputWrapper">
								<label for="image">Image</label>
								<input type="file" id="fileimage">
							</div>
							<div class="right__inputWrapper">
								<label for="desc">Content</label>
								<textarea name="" id="content" cols="30" rows="15" placeholder="Write something..."></textarea>
							</div>
							<button class="btn" onclick="submit_blog()" type="submit">ADD</button>
						</div>

						<div class="div">
							<div class="right__inputWrapper">
								<label for="p_category">Category</label>
								<select name="" id="postcategoryinsert"></select>
							</div>
							<div class="right__inputWrapper" id="podcast2" style="display: none">
								<label for="label">Course</label>
								<select name="" id="courses_name"></select>
							</div>
							<div class="right__inputWrapper">
								<label for="p_category">Rank</label>
								<select name="" id="ranker"></select>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
